<h1>Work</h1>

<div class="customInlineBlock worksamples">
    <img src="http://tinyurl.com/qeemlqf" class="thirdWidth" /> <br />
    Work Sample 1
</div>
<div class="customInlineBlock worksamples">
    <img src="http://tinyurl.com/qeemlqf" class="thirdWidth" /> <br />
    Work Sample 2
</div>
<br />
<div class="customInlineBlock"></div>
<div class="customInlineBlock"></div>
