<h1>Work</h1>

<div class="customInlineBlock worksamples">
    <div>
        <img src="http://tinyurl.com/qeemlqf" /> <br />
        <p>Work Sample 1</p>
    </div>
    <div></div>
    <br />
    <div></div>
    <div></div>
</div>
